.comment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  color: #797979;
}

.comment__content {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.comment__header {
  border-bottom: 2px solid #e2e2e2;
  padding: 5px 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.comment__title {
  font-size: 24px;
  color: #009AF8;
}

.comment__body {
  padding: 5px 8px;
  display: flex;
  justify-content: space-between;
}

.comment__body-content {
  padding: 20px;
  font-size: 18px;
}

.comment__body-options {
  display: flex;
  width: 110px;
  justify-content: space-between;
}

.comment__body-option {
  cursor: pointer;
}

.comment__body-option:hover {
  color: #009AF8;
}

.comment__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.comment__votes {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment__score {
  font-size: 28px;
  color: #C5F299;
  margin-right: 6px;
}

.comment__score_color_red {
  color: #FF0043;
}

.comment__up-hand {
  margin-right: 6px;
}

.comment__up-hand:hover {
  cursor: pointer;
  color: #C5F299;
  transform: scale(1.3);
}

.comment__down-hand:hover {
  cursor: pointer;
  color: #FF0043;
  transform: scale(1.3);
}
