.create-post-container {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-post-container__header{
  margin: 20px 30px 0 30px;
  color: #FF0043;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}
